
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bmi-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bmi-calculator{
    width: 400px;
    border: 8px solid #d6dadf;
    padding: 20px;
    backdrop-filter: blur(100px);
    background-color: rgb(2, 32, 56);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.header-bmi{
    color: white;
    text-align: center;
    /* text-shadow: 2px 1px 2px #5cd4e4; */
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

.layer-1{
    border-radius: 10px;
    width:100%;
    padding: 8px;
    background-color: #66d166;
    margin: 20px 0;
}
.layer-2{
    /* border: 2px solid black; */
    border-radius: 10px;
    padding:5px;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    color: #063a72;
}

.bmi-input-container{
    margin-bottom: 10px 5px;
}

.bmi-input-container #input-label{
    display: block;
    /* font-weight: bold; */
    margin-bottom: 5px;
    color: #b4cde7;
}

.bmi-input-container input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border:none;
}

.calculate-refresh{
    display: flex;
    margin: 10px 0;
}


.calculate-button{
    padding: 0.6rem 1.5rem;
    width: 100%;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
}

.calculate-button:hover{
    background-color: #286fbb;
}

.refresh{
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 8px;
    border: none;
}
.refresh:hover{
    background-color: rgb(236, 234, 230);
}

.result{
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 100%;
}

.bmi-value{
    font-weight: bold;    
}

.bmi-message {
    color: #007bff;
    font-weight: bold;
}