*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bmi-calculator{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* border: #007bff 2px solid; */
}

.header-bmi{
    color: #18b918;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

.input-container{
    margin-bottom: 10px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.calculate-refresh{
    display: flex;
}


.calculate-button{
    padding: 1rem 1.5rem;
    width: 100%;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.calculate-button:hover{
    background-color: #286fbb;
}
.refresh{
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 8px;
}
.refresh:hover{
    background-color: rgb(236, 234, 230);
}

.result{
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 100%;
}

.bmi-value{
    font-weight: bold;    
}

.bmi-message {
    color: #007bff;
    font-weight: bold;
}