.forgot-password-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../Assets/forgot_lapi.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.forgot-container{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: transparent; 
    backdrop-filter: blur(80px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 480px;
}

.forgot-form{
    text-align: center;
}

.forgot-header{
    margin-bottom: 1rem;
    color: #16375a;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}

.forgot-password-wrapper .input-email{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-email input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #16375a;
    border-radius: 40px;
    font-size: 16px;
    color: #091c31;
    padding: 20px 45px 20px 20px;
}

.input-email input::placeholder{
    color: #011301;
    font-size: 16px;
}
.input-email .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #f5f5f5;
}

.otp {
    padding: 0.8rem 1.5rem;
    width: 50%;
    border: none;
    background-color: #022c17;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.otp:hover{
    background-color: #095007;
}

.input-otp input{
    width: 70%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #16375a;
    border-radius: 40px;
    font-size: 20px;
    color: #091c31;
    padding: 5px 45px 5px 20px;
}
.input-otp input::placeholder{
    color: #011301;
    font-size: 16px;
}
.forgot-password-wrapper .input-otp{
    margin: 30px 0;
}

.input-password input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #16375a;
    border-radius: 40px;
    font-size: 16px;
    color: #091c31;
    padding: 5px 45px 5px 20px;
}
.input-password input::placeholder{
    color: #011301;
    font-size: 16px;
}
.forgot-password-wrapper .input-password{
    margin: 30px 0;
}
.update-otp {
    padding: 0.8rem 1.5rem;
    width: 100%;
    border: none;
    background-color: #022c17;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.update-otp:hover{
    background-color: #095007;
}

.forgot-sub-header{
    color: #071b31;
}

@media (max-width:500px) {
    .forgot-password-wrapper{
        background-image: url("../Assets/circuit.jpg");
    }
    .forgot-container{
        width:95%;
        padding:2rem 10px;
        backdrop-filter: blur(50px);
    }
    .forgot-header{
        color: #041425;
    }
    .forgot-sub-header{
        color: #041425;
    }
    .input-email input{
        color: #fff;
    }
    .input-email input::placeholder{
        color: #021118;
    }
    .otp {
        background-color: #011a2e;
    }
    
    .otp:hover{
        background-color: #02233d;
    }
    .update-otp {
        background-color: #011a2e;
    }
    
    .update-otp:hover{
        background-color: #02233d;
    }
    .input-password input::placeholder{
        color: #021118;
    }
    .input-otp input::placeholder{
        color: #021118;
    }
    .input-password input{
        color: #fff;
    }
    .input-otp input{
        color: #fff;
    }
}